<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="rolewithmenuManager" class="money.rolemanager.RoleWithMenuManagerImpl">
		<constructor-arg index="0" ref="rolewithmenuDao"></constructor-arg>
	</bean>
	<bean id="userrolerightManager" class="money.rolemanager.UserRoleRightManagerImpl">
		<constructor-arg index="0" ref="userrolerightDao"></constructor-arg>
	</bean>
	<bean id="fileManager"
		class="common.struts2.FileManagerImpl">
		<constructor-arg index="0" ref="fileDao"></constructor-arg> 
	</bean> 
	<bean id="homepageurlManager" class="money.homepage.HomePageUrlManagerImpl">
		<constructor-arg index="0" ref="homepageurlDao"></constructor-arg>
	</bean>
	<bean id="myuserManager" class="money.myuser.MyUserManagerImpl">
		<constructor-arg index="0" ref="myuserDao"></constructor-arg>
	</bean>
	<bean id="roleManager" class="money.rolemanager.RoleManagerImpl">
		<constructor-arg index="0" ref="roleDao"></constructor-arg>
		<constructor-arg index="1" ref="rolewithmenuDao"></constructor-arg>
		<constructor-arg index="2" ref="userrolerightDao"></constructor-arg>
	</bean>
	<bean id="usermenurightManager" class="money.role.UserMenuRightManagerImpl">
		<constructor-arg index="0" ref="usermenurightDao"></constructor-arg>
	</bean>
	<bean id="moneyManager" class="money.detail.MoneyManagerImpl">
		<constructor-arg index="0" ref="moneyDao"></constructor-arg>
	</bean>
	<bean id="paramManager" class="money.param.ParamManagerImpl">
		<constructor-arg index="0" ref="paramDao"></constructor-arg>
	</bean>
	<bean id="allSelectManager" class="common.base.AllSelect">
		<constructor-arg index="0" ref="paramTypeDao"></constructor-arg>
		<constructor-arg index="1" ref="paramDao"></constructor-arg>
		<constructor-arg index="2" ref="moneyTypeDao"></constructor-arg>
	</bean>

	
<bean id="questionManager" class="money.question.QuestionManagerImpl">
		<constructor-arg index="0" ref="questionDao"></constructor-arg>
	</bean>
<!-- 
	<bean id="cacheManager" class="money.cache.CacheManagerImpl">
		<constructor-arg index="0" ref="cacheDao"></constructor-arg>
	</bean>
	<bean id="orgManager" class="money.org.OrgManagerImpl">
		<constructor-arg index="0" ref="orgDao"></constructor-arg>
	</bean>

	<bean id="moneyTypeManager" class="money.moneytype.MoneyTypeManagerImpl">
		<constructor-arg index="0" ref="moneyTypeDao"></constructor-arg>
	</bean>

	<bean id="planManager" class="money.plan.PlanManagerImpl">
		<constructor-arg index="0" ref="planDao"></constructor-arg>
	</bean>

	<bean id="treeManager" class="money.tree.TreeManagerImpl">
		<constructor-arg index="0" ref="moneyTypeDao"></constructor-arg>
		<constructor-arg index="1" ref="rolewithmenuDao"></constructor-arg>
		<property name="jdbc">
			<ref bean="jdbcTool" />
		</property>
	</bean>

	<bean id="paramtypeManager" class="money.paramtype.ParamTypeManagerImpl">
		<constructor-arg index="0" ref="paramtypeDao"></constructor-arg>
	</bean>

	<bean id="diaryManager" class="money.diary.DiaryManagerImpl">
		<constructor-arg index="0" ref="diaryDao"></constructor-arg>
	</bean>

	<bean id="menuManager" class="money.menu.MenuManagerImpl">
		<constructor-arg index="0" ref="menuDao"></constructor-arg>
	</bean>
 -->
</beans>