<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- bean id="activiti_ds" class="com.alibaba.druid.pool.DruidDataSource"> 
		<property name="driverClass" value="${driverName}" /> <property name="url" 
		value="${url}" /> <property name="username" value="${username}" /> <property 
		name="password" value="${password}" /> </bean> -->


	<bean id="transactionManager2"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager2" />

	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="ds" />
		<property name="transactionManager" ref="transactionManager2" />
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
		<!-- 使用uuid主键生成策略<bean id="uuidGenerator" class="org.activiti.engine.impl.persistence.StrongUuidGenerator" 
			/><property name="idGenerator" ref="uuidGenerator" /> -->

		<!-- 自动部署下面的文件 -->
		<property name="deploymentResources" value="classpath*:/activiti/*.bpmn20.xml" />
	</bean>

	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<bean id="repositoryService" factory-bean="processEngine"
		factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine"
		factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine"
		factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine"
		factory-method="getManagementService" />
	<bean id="formService" factory-bean="processEngine"
		factory-method="getFormService" />

	<bean id="userBean" class="com.renjie120.hello.UserBean">
		<property name="runtimeService" ref="runtimeService" />
	</bean>

	<bean id="printer" class="com.renjie120.hello.Printer" />

</beans>