/**
 代码整理： divcss5 
 */
 * {
	margin:0;
	padding:0;
}
body {

	background:rgb(74,81,85);
} 

*{margin:0;padding:0;border:0;}
body { font-family: arial, 宋体, serif; font-size:12px;}


#nav {line-height: 24px;  list-style-type: none; background:#666;}

#nav a {display: block; width: 80px; text-align:center;}

#nav a:link  {color:#666; text-decoration:none;}
#nav a:visited  {color:#666;text-decoration:none;}
#nav a:hover  {color:#FFF;text-decoration:none;font-weight:bold;}

#nav li {float: left; width: 120px; background:#CCC;z-index:999;}
#nav li a:hover{ background:#999;}
#nav li ul {line-height: 27px;  list-style-type: none;text-align:left;left: -999em; width: 180px; position: absolute;}
#nav li ul li{float: left; width: 180px;background:#EFEFEF;}


#nav li ul a{display: block; width: 156px;text-align:left;padding-left:24px; overflow:hidden;}

#nav li ul a:link  {color:#666; text-decoration:none;}
#nav li ul a:visited  {color:#666;text-decoration:none;}
#nav li ul a:hover  {color:#F3F3F3;text-decoration:none;font-weight:normal;background:#C00;}

#nav li:hover ul {left: auto;}
#nav li.sfhover ul {left: auto;}
#content {clear: left;}


body{ text-align:center}  
body {font-size:12px; color:#222; font-family:Verdana,Arial,Helvetica,sans-serif; background:#f0f0f0;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {zoom:1;}
ul,li {list-style:none;}
img {border:0;} 
.wrapper {width:800px;  margin:0 auto;margin-top:100px; padding-bottom:0px;}
/*.底部显示层总是在页面最下面.foot{ background-color:#004594; z-index:999; position:fixed; bottom:0; left:0; width:100%; _position:absolute;color:white;
 _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible; }*/
.foot{ background-color:#004594;   bottom:0; left:0; width:100%; color:white; overflow:visible; }

 #float{ background-color:#004594; z-index:999; position:fixed; top:200px; left:20px;   _position:absolute;color:white;
 _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible; }

 .header{ background-color:#ffffff;  margin:0 auto; width:800px;  height:100px;border:0px solid #F00;padding-bottom:0px;
        z-index:999; position:fixed; top:0px; width:100%;   _position:absolute;color:white; top:0px; overflow:visible; }
h1 {height:50px; line-height:50px; font-size:22px; font-weight:normal; font-family:"Microsoft YaHei",SimHei;} 
/* 下面是图片幻灯片的样式 */
#focus {width:800px; height:280px; overflow:hidden; position:relative;}
#focus ul {height:380px; position:absolute;}
#focus ul li {float:left; width:800px; height:280px; overflow:hidden; position:relative; background:#000;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:800px; height:20px; left:0; bottom:0; background:#000;}
#focus .btn {position:absolute; width:780px; height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#focus .btn span.on {background:#fff;}
#focus .preNext {width:45px; height:100px; position:absolute; top:90px; background:url(../img/sprite.png) no-repeat 0 0; cursor:pointer;}
#focus .pre {left:0;}
#focus .next {right:0; background-position:right top;} 
#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}


/********** 正文的样式 **********/
.body { background: #151b1e; padding:1px 0; margin:0 auto; border-top:1px solid #212d33;width:800px;height:400px;}
.body h2 { font:bold 19px Arial, Helvetica, sans-serif; color:#d8d8d8; padding:10px 5px; margin:5px;}
.body h4 { font:bold 24px Arial, Helvetica, sans-serif; color:#2c2c2c;}
.body h3 { font:bold 18px Arial, Helvetica, sans-serif; color:#8d8d8d;}
.body a { text-decoration:underline; color:#5d8b9b;}
.body p { font:normal 13px Arial, Helvetica, sans-serif; color:#acb5b9; line-height:1.8em; margin:0; padding:5px 10px;}
.body em { font:italic 12px Arial, Helvetica, sans-serif; color:#797979; line-height:1.8em; padding:10px 0 0 10px;}
.body_resize { width:800px;margin:0 auto; padding:0;}
.body_resize2 { width:590px; margin:0 auto; padding:0;}
/************Author**************/
.Author { width:300px; margin:30px 20px; margin:5px 10px; float:left;}
.Author img { float:left;}
/**************animator************/
.animator { width:450px; margin:30px 20px; margin:5px 10px; float:left;}
.animator img { float:left; margin:10px 5px;}






body, div, ul, li{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:25px;
	font-size:14px;
}
a:link, a:visited {
	text-decoration:none;
	color:#333333;
}
a:hover {
	text-decoration: underline;
	color:#08A5E0;
	text-decoration:none;
}

ul, ul li {
	list-style-type:none;
}
.cl {
	zoom:1;
}

/*网站头部*/
.col960 {
	width:960px;
	margin:auto;
}
.navbg {
	height:40px;
	width: 100%;
	background: #08A5E0;
	box-shadow: 1px 1px 7px #999;
	position:absolute;
	z-index:99;
	left:0;
}
#navul li {
	float: left;
	margin-right: 1px;
	width:100px;
	height:40px;
	position:relative;
	text-align:center;
	line-height:40px;
}
#navul li.navhome {
	text-align:left;
	padding:0 0px 0 40px;
	width:60px;
}
#navul li a:link, #navul li a:visited {
	color:#FFFFFF;
}
#navul li ul {
	display:none;
	position:absolute;
	z-index:10000;
	top:38px;
	left:-1px;
	background:#006D96;
	border:#004E6C 1px solid;
	border-bottom:none;
}
#navul li ul li {
	display:block;
	width:98px;
	float:none;
	margin-right:0px;
	height:28px;
	position:relative;
	line-height:28px;
	border-bottom:#004E6C 1px solid;
	font-size:12px;
}
#navul li.navmoon {
	background:#006D96;
	border:#004E6C 1px solid;
	width:98px;
	height:38px;
	line-height:38px;
}
#navul li.navmoon a {
	color:#FFFFFF;
}
#navul li.navhome a:hover {
	color:#FCFF00;
}
#navul li.navmoon ul {
	display:block;
}
#navul li.navmoon ul a {
	display:block;
	width:98px;
	height:28px;
	line-height:28px;
}
#navul li.navmoon ul a:hover {
	background:#000000;
}