
.gridTree { display:block; overflow:hidden; width:300px; border-width:0 1px; position:relative;border-right:solid 1px #ededed;}
.gridTree .gridHeader { display:block; overflow:all; width:100%;height:21px;}
.gridTree .gridThead {  overflow:auto; }

.gridTree .gridScroller { display:block; overflow:auto;position:relative;}
.gridTree .gridTbody { overflow:auto; }

.gridTree table { border:1; border-collapse:collapse;table-layout:fixed;}
.gridTree .gridHeader th { 
	padding:0; 
	border-style:solid; 
	border-width:0 0px 1px 0; 
	vertical-align:top; 
	white-space:nowrap; 
	height:20px;
	line-height:21px; 
	cursor:default;}
.gridTree .gridHeader th.hover, .gridTree .gridHeader th.thSelected { background-position:0 -50px;}
.gridTree .gridTbody td { border-right:solid 1px #ededed; overflow:hidden; padding:0 3px; border-bottom:solid 1px #ededed; vertical-align:middle; line-height:21px;}
.gridTree .gridTbody td div { display:block; overflow:hidden; height:21px; white-space:nowrap; line-height:21px;}
.gridTree .gridTbody td div a{line-height:21px;} 