@charset "utf-8";
 
.gridTree .gridCol{
	border-right:solid 1px #ededed;
	height:18px;
	line-height:18px;
	text-align:center;
}
li.j-first{
	height:20px;
	line-height:20px;
}
li.j-prev{
	height:20px;
	line-height:20px;
}
li.j-next{
	height:20px;
	line-height:20px;
}
li.j-last{
	height:20px;
	line-height:20px;
}
.gridTree { display:block; overflow:hidden; width:300px; border-width:0 1px; position:relative;border-right:solid 1px #ededed;}
.gridTree .gridHeader { display:block; overflow:all; width:100%;height:21px;}
.gridTree .gridThead {  overflow:auto; }

.gridTree .gridScroller { display:block; overflow:auto;position:relative;}
.gridTree .gridTbody { overflow:auto; }

.gridTree table { border:1; border-collapse:collapse;table-layout:fixed;}
.gridTree .gridHeader th { 
	padding:0; 
	border-style:solid; 
	border-width:0 0px 1px 0; 
	vertical-align:top; 
	white-space:nowrap; 
	height:20px;
	line-height:21px; 
	cursor:default;}
.gridTree .gridHeader th.hover, .gridTree .gridHeader th.thSelected { background-position:0 -50px;}
.gridTree .gridTbody td { border-right:solid 1px #ededed; overflow:hidden; padding:0 3px; border-bottom:solid 1px #ededed; vertical-align:middle; line-height:21px;}
.gridTree .gridTbody td div { display:block; overflow:hidden; height:21px; white-space:nowrap; line-height:21px;}
.gridTree .gridTbody td div a{line-height:21px;}
 
.panelBar,a.myAddbutton,
.toolBar li.hover, .toolBar li.hover a, .toolBar li.hover span, .toolBar span,
.pagination2, .pagination2 li.hover, .pagination2 li.hover a, .pagination2 li span,
.pagination2 li.disabled span span,
.panelBar .line, .pagination2 li.jumpto, .pagination2 li.jumpto { background:url(./images/dwz/grid.png) repeat-x;}

a.myAddbutton{
 	background-position:0 -696px;
}
.panelBar { border-color:#b8d0d6; background-color:#efefef;}

.gridTree .gridHeader { background:#EEE;}
.gridTree { background:#FFF;}
.gridTree table { border-color:#d0d0d0;}
.gridTree .gridHeader, .gridTree .gridHeader th { border-color:#d0d0d0; background:#f0eff0 url(./images/dwz/tableth.png) repeat-x;}
.gridTree table th div { border-left-color:#00ff00; border-right-color:#ff0000;}
.gridTree table td { border-color:#ededed;}

.gridTree .resizeMarker, .gridTree .resizeProxy { background:url(./images/grid/resizeCol.png) repeat-y;}

.gridTree .gridHeader th.hover, .gridTree .gridHeader th.thSelected { border-color:#aaccf6; }
.gridTree .gridTbody .gridRowBg { background:#f7f7f7;}
.gridTree .gridTbody .gridRow { border-color:#ededed;}
.gridTree .gridTbody .gridRow td.tdLast { border-color:#ededed;}
.gridTree .gridTbody .hover { border-color:#dddddd; background:#f5f5f5;}
.gridTree .gridTbody .hover .tdSelected { background:#f5f5f5;}
.gridTree .gridTbody .selected { border-color:#b8d0d6; background:#7cc5e5;}
.gridTree .gridTbody .selected .tdSelected { background:#e8edf3;}
.gridTree .gridTbody .tdSelected { background:#f8f8f8;}
.gridTree .error{background:#fb7e81;} 
input.goto {
    background: url("./images/dwz/grid.png") no-repeat scroll 1px -651px transparent;
    height: 19px;
    width: 16px;
    border: solid 1px #A2BAC0;
}

