<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="systemsequenceDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.sequence.SystemSequenceDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.sequence.SystemSequenceVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="userupdateloggerDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.UserUpdateLogger.UserUpdateLoggerDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.UserUpdateLogger.UserUpdateLoggerVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="insuredunitDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.InsuredUnit.InsuredUnitDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.InsuredUnit.InsuredUnitVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="insuredfileDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.InsuredFile.InsuredFileDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.InsuredFile.InsuredFileVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="insureduserDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.InsuredUser.InsuredUserDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.InsuredUser.InsuredUserVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="loginuserDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.LoginUser.LoginUserDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.LoginUser.LoginUserVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="businessshopDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.BusinessShop.BusinessShopDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.BusinessShop.BusinessShopVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="provincedictDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.province.ProvinceDictDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.province.ProvinceDictVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="citydictDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.city.CityDictDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.city.CityDictVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="businessmanDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.BusinessMan.BusinessManDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.BusinessMan.BusinessManVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="businessgroupDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.BusinessGroup.BusinessGroupDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.BusinessGroup.BusinessGroupVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="insuredcompanyselectDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.Dict_InsuredCompany.InsuredCompanySelectDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.Dict_InsuredCompany.InsuredCompanySelectVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="insuredcompanyDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.InsuredCompany.InsuredCompanyDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.InsuredCompany.InsuredCompanyVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="loginfoDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>ido.loginfo.LogInfoDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="ido.loginfo.LogInfoVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>


	<bean id="userrolerightDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.rolemanager.UserRoleRightDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.rolemanager.UserRoleRightVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="filemanagerDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.filemanage.FileManagerDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.filemanage.FileManagerVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="rolewithmenuDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.rolemanager.RoleWithMenuDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.rolemanager.RoleWithMenuVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="myuserDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.myuser.MyUserDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.myuser.MyUserVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="roleDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.rolemanager.RoleDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.rolemanager.RoleVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="usermenurightDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.role.UserMenuRightDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.role.UserMenuRightVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="paramDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.param.ParamDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.param.ParamVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="orgDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.org.OrgDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.org.OrgVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="jdbcTool" class="common.MyJdbcTool">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>

	<bean id="cacheDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.cache.CacheDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.cache.CacheVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="paramtypeDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.paramtype.ParamTypeDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.paramtype.ParamTypeVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>


	<bean id="menuDao" parent="daoProxy">
		<property name="proxyInterfaces">
			<value>money.menu.MenuDao</value>
		</property>
		<property name="target">
			<bean parent="baseDao">
				<constructor-arg value="money.menu.MenuVO">
				</constructor-arg>
			</bean>
		</property>
	</bean>


</beans>