<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="systemsequenceManager" class="money.sequence.SystemSequenceManagerImpl">
		<constructor-arg index="0" ref="systemsequenceDao"></constructor-arg>
	</bean>
	<bean id="consumeinfoManager" class="ido.ConsumeInfo.ConsumeInfoManagerImpl">
		<constructor-arg index="0" ref="consumeinfoDao"></constructor-arg>
	</bean>
	<bean id="drugtypeselectManager" class="ido.Dict_Drugtype.DrugTypeSelectManagerImpl">
		<constructor-arg index="0" ref="drugtypeselectDao"></constructor-arg>
	</bean>
	<bean id="bindfamilyManager" class="ido.bindFamily.BindFamilyManagerImpl">
		<constructor-arg index="0" ref="bindfamilyDao"></constructor-arg>
	</bean>
	<bean id="buglistManager" class="money.bugList.BugListManagerImpl">
		<constructor-arg index="0" ref="buglistDao"></constructor-arg>
	</bean>
	<bean id="addmoneydetailManager" class="ido.addmoneydetail.AddMoneyDetailManagerImpl">
		<constructor-arg index="0" ref="addmoneydetailDao"></constructor-arg>
	</bean>
	<bean id="uploadfileManager" class="money.uploadFile.UploadFileManagerImpl">
		<constructor-arg index="0" ref="uploadfileDao"></constructor-arg>
	</bean>
	<bean id="insuredunitManager" class="ido.InsuredUnit.InsuredUnitManagerImpl">
		<constructor-arg index="0" ref="insuredunitDao"></constructor-arg>
	</bean>
	<bean id="userupdateloggerManager" class="ido.UserUpdateLogger.UserUpdateLoggerManagerImpl">
		<constructor-arg index="0" ref="userupdateloggerDao"></constructor-arg>
	</bean>
	<bean id="insuredfileManager" class="ido.InsuredFile.InsuredFileManagerImpl">
		<constructor-arg index="0" ref="insuredfileDao"></constructor-arg>
	</bean>
	<bean id="insureduserManager" class="ido.InsuredUser.InsuredUserManagerImpl">
		<constructor-arg index="0" ref="insureduserDao"></constructor-arg>
		<constructor-arg index="1" ref="jdbcTemplate"></constructor-arg>
	</bean>
	<bean id="loginuserManager" class="ido.LoginUser.LoginUserManagerImpl">
		<constructor-arg index="0" ref="loginuserDao"></constructor-arg>
	</bean>
	<bean id="citydictManager" class="ido.city.CityDictManagerImpl">
		<constructor-arg index="0" ref="citydictDao"></constructor-arg>
	</bean>
	<bean id="businessshopManager" class="ido.BusinessShop.BusinessShopManagerImpl">
		<constructor-arg index="0" ref="businessshopDao"></constructor-arg>
	</bean>
	<bean id="provincedictManager" class="ido.province.ProvinceDictManagerImpl">
		<constructor-arg index="0" ref="provincedictDao"></constructor-arg>
	</bean>
	<bean id="businessmanManager" class="ido.BusinessMan.BusinessManManagerImpl">
		<constructor-arg index="0" ref="businessmanDao"></constructor-arg>
	</bean>
	<bean id="businessgroupManager" class="ido.BusinessGroup.BusinessGroupManagerImpl">
		<constructor-arg index="0" ref="businessgroupDao"></constructor-arg>
	</bean>
	<bean id="loginfoManager" class="ido.loginfo.LogInfoManagerImpl">
		<constructor-arg index="0" ref="loginfoDao"></constructor-arg>
	</bean>
	<bean id="insuredcompanyselectManager" class="ido.Dict_InsuredCompany.InsuredCompanySelectManagerImpl">
		<constructor-arg index="0" ref="insuredcompanyselectDao"></constructor-arg>
	</bean>
	<bean id="insuredcompanyManager" class="ido.InsuredCompany.InsuredCompanyManagerImpl">
		<constructor-arg index="0" ref="insuredcompanyDao"></constructor-arg>
	</bean>

	<bean id="rolewithmenuManager" class="money.rolemanager.RoleWithMenuManagerImpl">
		<constructor-arg index="0" ref="rolewithmenuDao"></constructor-arg>
	</bean>
	<bean id="filemanagerManager" class="money.filemanage.FileManagerManagerImpl">
		<constructor-arg index="0" ref="filemanagerDao"></constructor-arg>
	</bean>
	<bean id="userrolerightManager" class="money.rolemanager.UserRoleRightManagerImpl">
		<constructor-arg index="0" ref="userrolerightDao"></constructor-arg>
	</bean>
	<bean id="myuserManager" class="money.myuser.MyUserManagerImpl">
		<constructor-arg index="0" ref="myuserDao"></constructor-arg>
	</bean>
	<bean id="roleManager" class="money.rolemanager.RoleManagerImpl">
		<constructor-arg index="0" ref="roleDao"></constructor-arg>
		<constructor-arg index="1" ref="rolewithmenuDao"></constructor-arg>
		<constructor-arg index="2" ref="userrolerightDao"></constructor-arg>
	</bean>
	<bean id="usermenurightManager" class="money.role.UserMenuRightManagerImpl">
		<constructor-arg index="0" ref="usermenurightDao"></constructor-arg>
	</bean>
	<bean id="paramManager" class="money.param.ParamManagerImpl">
		<constructor-arg index="0" ref="paramDao"></constructor-arg>
	</bean>
	<bean id="allSelectManager" class="common.base.AllSelect">
		<constructor-arg index="0" ref="paramtypeDao"></constructor-arg>
		<constructor-arg index="1" ref="paramDao"></constructor-arg>
	</bean>
	<bean id="treeManager" class="money.tree.TreeManagerImpl">
		<constructor-arg index="0" ref="rolewithmenuDao"></constructor-arg>
		<property name="jdbc">
			<ref bean="jdbcTool" />
		</property>
	</bean>

	<bean id="cacheManager" class="money.cache.CacheManagerImpl">
		<constructor-arg index="0" ref="cacheDao"></constructor-arg>
	</bean>
	<bean id="orgManager" class="money.org.OrgManagerImpl">
		<constructor-arg index="0" ref="orgDao"></constructor-arg>
	</bean>

	<bean id="paramtypeManager" class="money.paramtype.ParamTypeManagerImpl">
		<constructor-arg index="0" ref="paramtypeDao"></constructor-arg>
	</bean>


	<bean id="menuManager" class="money.menu.MenuManagerImpl">
		<constructor-arg index="0" ref="menuDao"></constructor-arg>
	</bean>

</beans>