<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate_mysql.cfg.xml">
		</property>
	</bean>

	<bean id="propertyFileConfigForDB" 
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="location"> 
			<value>classpath:db.properties</value>   
		</property>
	</bean> 
	<bean id="ds"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="${driverName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<!-- <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"> <property 
		name="url"> <value>jdbc:mysql://renjie120.gotoftp2.com:3306/renjie120</value> 
		</property> <property name="driverClassName"> <value>com.mysql.jdbc.Driver</value> 
		</property> <property name="username"> <value>renjie120</value> </property> 
		<property name="password"> <value>lsq20140307ZHQ</value> </property> </bean> -->

	<bean id="jdbcTm"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref local="ds" />
		</property>
	</bean>


	<!-- jdbc modle -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="ds" />
		</property>
	</bean>

	<!-- transaction manager -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- DaoIntroductionInterceptor -->
	<bean id="daoIntroductionInterceptor" class="dwz.dal.DaoIntroductionInterceptor">
	</bean>

	<bean id="reportUtil" class="common.report.ReportDaoUtil">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- IntroductionInterception -->
	<bean id="daoAdvisor"
		class="org.springframework.aop.support.DefaultIntroductionAdvisor">
		<constructor-arg>
			<ref bean="daoIntroductionInterceptor" />
		</constructor-arg>
	</bean>

	<bean id="daoProxy" class="org.springframework.aop.framework.ProxyFactoryBean"
		abstract="true">
		<property name="interceptorNames">
			<list>
				<value>daoAdvisor</value>
			</list>
		</property>
	</bean>



	<bean id="baseDao" class="dwz.dal.BaseDaoImpl" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Spring资源国际化 (统一使用String2国际化) -->
	<!-- <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"> 
		<property name="basenames"> <list> <value>resource/messages</value> </list> 
		</property> </bean> -->

	<import resource="spring_dao.cfg.xml" />
	<import resource="spring_manager.cfg.xml" />
	<import resource="spring_dao_money.cfg.xml" />
	<import resource="spring_activiti.cfg.xml" />
	<import resource="spring_manager_money.cfg.xml" />

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="SpringContextUtil" class="common.base.SpringContextUtil">
	</bean>

	<bean id="queryGridTreeBO" class="querygridtree.bo.QueryGridTreeBOImpl">
		<property name="queryGridTreeDAO">
			<ref bean="queryGridTreeDAO" />
		</property>
	</bean>

	<bean id="queryGridTreeDAO" class="querygridtree.dao.QueryGridTreeDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
</beans>